.spinner {
  margin: 0 auto;
  margin-top: 150px;
  width: 150px;
  height: 75px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 12%;
  display: inline-block;
  margin-right: 5px;
  -webkit-animation: sk-stretchdelay 1s infinite ease-in-out;
  animation: sk-stretchdelay 1s infinite ease-in-out;
}
.spinner > div:last-of-type{
  margin-right: 0;
}

.spinner .rect2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect3 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


@media (max-width:725px){
  .spinner{
    width: 100px;

  }
  .spinner > div{
    background-color: #DE522E;
  }
}

@media (max-width:500px){
  .spinner{
    width: 50px;
  }
  .spinner > div{
    width: 8%;
  }
}
